h1 {
	font-family: "Oleo Script";
	color: deepskyblue;
}

h2 {
	font-family: "Lato";
	font-weight: 900;
	color: skyblue;
}

body {
	font-family: "Lato";
	font-size: 18px;
}

aside {
	padding: 9px 18px;
	margin: auto;
	width: 50%;
	font-style: italic;
	background-color: darkgray;
	color: white;
}

.blurb {
	position: relative;
	margin: auto;
	width: 75%;
	color: darkgray;
}

.citation {
	position: relative;
	text-align: right;
	margin: auto;
	width: 75%;
	color: darkgray;
}

.label {
	font-weight: bold;
	padding: 18px;
	color: black;
	text-align: right;
	height: 36px;
	width: 200px;
}

.desc {
	/*border: none;*/
	border-width: medium;
	width: 75%;
	height: 36px;
	padding: 2px;
}

table {
	border: none;
	width: 100%;
}

tbody {
	width: 100%;
	padding: 2px;
	vertical-align: text-top;
}
