svg {
	width: 100%;
	height: 100%;
}

svg circle.node {
	fill: gray;
	stroke: lightgray;
	stroke-width: 6px;
}

svg line.link {
	stroke: lightgray;
	stroke-opacity: 0.9;
	stroke-width: 6px;
}

#icon, #word {
	text-align: right;
}

#forwardBack {
	margin-top: 400px;
	text-align: right;
}

.item3 svg {
	min-width: 1200px;
	min-height: 1200px;
}

.item3 {
	min-width: 1200px;
	min-height: 1200px;
}

.item2 {
	/*overflow-y: auto;
	min-height: 100vh;*/
	min-height: 100px;
	padding-left: 30px;
	padding-right: 80px;
	min-width: 480px;
	max-width: 480px;
}

.item4 {
	padding-left: 30px;
	min-width: 480px;
	max-width: 480px;
}

.item3 {
	padding: 0 0 0 15px;
}

.item5 {
	display: inline-block;
	padding-top: 20px;
	padding-left: 10px;
	/* height: 10% */
}

.even {
	display: flex;
	justify-content: center;
	height: 1.5em;
	/* width: 20px;
	background-color: red;
	border-top-left-radius: 0%;
	border-top-right-radius: 0%;
	display: inline-block; */
}

:target {
	color: black;
	font-size: 18px;
}

.button {
	font-weight: bold;
	background-color: lightgray;
	border-width: medium;
	height: 46px;
	width: 46px;
}

.button:hover {
	background-color: skyblue;
}
