<head>
<title>Visual English</title>
<!--
<script src="https://d3js.org/d3.v6.min.js">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
-->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oleo+Script|Lato:400,700,900">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<center><h1>Visual English</h1>
<h2>Graphical representations of the English language</h2></center>
<body>
<div class="blurb">
<aside>
Dear Dad, <br><br>
Happy Father's Day!<br><br>
I remember your interest in the webs of words demo I'd made in senior year of college, but I never did finish it... until now. Here's a collection I hope you'll find instructive, or at least interesting.<br><br>
Thank you for teaching me not only English but also how to finish what I start.<br><br>
<div style="text-align:right;">Love,<br>
Rose</div>
</aside>
</div>
<br><br>
<center><b><h3>Table of Contents</h3></b></center>
<table>
<tr>
<td class="label"><a href="web-of-words.html">Web of words</td>
<td class="desc">An interactive force-directed graph of nearly 6000 related English words, within 3 degrees of separation from the starting word, "learning."<br>Data sourced from the WordNet lexical database (via Word Associations).</td>
</tr>
<tr>
<td class="label"><a href="semantic-fuzziness.html">Semantic fuzziness</td>
<td class="desc">A color-coded representation of synonyms, antonyms, similar words, and related words.<br>Data sourced on-the-fly from AlterVista (<em>default</em>) or Merriam-Webster.</td>
</tr>
</table>
</body>