<head>
<title>Semantic fuzziness</title>
<!--
<script src="https://d3js.org/d3.v6.min.js">
-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oleo+Script|Lato:400,700,900">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/semantic-fuzziness.css">
</head>
<center><h1>Semantic fuzziness</h1>
<h2>(Or: "That's what I say, not what I mean.")</h2></center>
<body>
<div class="blurb">
	<p>The English language contains a great deal of semantic 'fuzziness,' which non-native speakers must learn to parse.</p>
	<aside>For instance: calling an embrace 'cozy' invokes intimacy and warmth, whereas calling a house 'cozy' may be a euphemism for 'small.' </aside>
	<p>Such nuances are illustrated in the live search engine below.</p>
	<p>Try entering your own word to see its associations!</p>
	<br><br>
</div>
<table>
<tr>
<td class="label" id="dictionary">Thesaurus to use:</td>
<td id="dict-menu">
	<form>
		<select id="inputdict" class="desc">
			<option value="MW">Merriam-Webster</option>
			<option value="AV" selected>AlterVista</option>
		</select>
	</form>
</td>
</tr>
<tr>
<td class="label" id="wordhead">When I said... </td>
<td id ="word"><input type="text" class="desc" id="inputword"></td>
</tr>
<tr id="synrow">
<td class="label" id="synhead">I definitely meant...</td>
<td class="desc" id="synonym"></td>
<td></td>
</tr>
<tr id="simrow">
<td class="label" id="simhead">I likely meant...</td>
<td class="desc" id="similar"></td>
</tr>
<tr id="relrow">
<td class="label" id="relhead">I might have meant...</td>
<td class="desc" id="related"></td>
</tr>
<tr id="antrow">
<td class="label" id="anthead">I did <em>not</em> mean...</td>
<td class="desc" id="antonym"></td>
</tr>
</table>
<script type="text/javascript">

function init() {
	lookup();
	$("input").focus(); // add focus

	// set up delayed trigger after typing
	var typingTimer; //timer identifier
	var $field = $('#inputword');

	//on keyup, start the countdown
	$field.on('keyup', function () {
		clearTimeout(typingTimer);
		typingTimer = setTimeout(lookup, 1000);
	});

	//on keydown, clear the countdown
	$field.on('keydown', function () {
		clearTimeout(typingTimer);
	});

	$('#inputdict').on('change', function() {
		lookup();
	});
}

$(document).ready(init); // jQuery initialization

function lookup() {
	$("input").blur(); // remove focus
	var word = $('#inputword').val();
	var chars = word.trim().length;
	var dict = $('#inputdict').val();
	console.log("entry length: "+chars);
	console.log("dictionary: "+dict);
	if (chars > 0) {
		var prefix = "";
		var suffix = "";
		if (dict == "MW") {
			prefix = "https://www.dictionaryapi.com/api/v3/references/thesaurus/json/";
			suffix = "?key=1d6ea6dd-a875-43bb-93ea-e6aad831ad44";
		} else if (dict == "AV") {
			prefix = "https://thesaurus.altervista.org/service.php?word=";
			suffix = "&language=en_US&output=json&key=PGvHDoR5lLDodqXBSQJa";
		};
		$.getJSON(prefix+word+suffix, function(data) {
			parse(data, dict);
		});
	} else {
		parse();
	}
}

function parse(word, dict) {
	var empty = (typeof word == "undefined");
	console.log("empty: "+empty);
	
	// initialize word lists
	var syn_list = [];
	var ant_list = [];
	var sim_list = [];
	var rel_list = [];
	
	if (!empty) {
		var separator = "; ";
		if (dict == "MW") {
			var entry;
			var ee;
			var eee;
			var eeee;
			var syn;
			var ant;
			var relative;
			var similar;
			trydefine : {
				var syn_i;
				var ant_i;
				var sim_i;
				var rel_i;
				for (var i in word) {
					entry = word[i].def;
					if (typeof entry == "undefined") {
						break trydefine;
					}
					entry = entry[0].sseq;
					for (var j in entry) {
						ee = entry[j];
						syn_i = [];
						ant_i = [];
						sim_i = [];
						rel_i = [];
						for (var k in ee) {
							eee = ee[k][1];
							syn = eee.syn_list;
							ant = eee.ant_list;
							sim = eee.sim_list;
							rel = eee.rel_list;
							if (typeof syn != "undefined") {
								for (var l in syn[0]) {
									syn_i.push(syn[0][l].wd);
								}
							}
							if (typeof ant != "undefined") {
								for (var l in ant[0]) {
									ant_i.push(ant[0][l].wd);
								}
							}
							if (typeof sim != "undefined") {
								for (var l in sim[0]) {
									sim_i.push(sim[0][l].wd);
								}
							}
							if (typeof rel != "undefined") {
								for (var l in rel[0]) {
									rel_i.push(rel[0][l].wd);
								}
							}
						}
						if (syn_i.length > 0) {
							syn_list.push(syn_i.join(separator));
						}
						if (ant_i.length > 0) {
							ant_list.push(ant_i.join(separator));
						}
						if (sim_i.length > 0) {
							sim_list.push(sim_i.join(separator));
						}
						if (rel_i.length > 0) {
							rel_list.push(rel_i.join(separator));
						}
					}
				}
			}
		} else if (dict == "AV") {
			var entries = [];
			var entry;
			var ee;
			trydefine : {
				entry = word.response;
				if (typeof entry == "undefined") {
					break trydefine;
				}
				for (var i in entry) {
					entries.push(entry[i].list.synonyms);
				}
				var syn_i;
				var ant_i;
				var sim_i;
				var rel_i;
				for (var i in entries) {
					entry = entries[i].split("|");
					syn_i = [];
					ant_i = [];
					sim_i = [];
					rel_i = [];
					for (j in entry) {
						ee = entry[j];
						if (ee.indexOf("(antonym)") + 1) {
							ant_i.push(ee.replace(" (antonym)", ""));
						} else if (ee.indexOf("(similar term)") + 1) {
							sim_i.push(ee.replace(" (similar term)",""));
						} else if (ee.indexOf("(related term)") + 1) {
							rel_i.push(ee.replace(" (related term)",""));
						} else {
							syn_i.push(ee.replace(" (generic term)", ""));
						}
					}
					if (syn_i.length > 0) {
						syn_list.push(syn_i.join(separator));
					}
					if (ant_i.length > 0) {
						ant_list.push(ant_i.join(separator));
					}
					if (sim_i.length > 0) {
						sim_list.push(sim_i.join(separator));
					}
					if (rel_i.length > 0) {
						rel_list.push(rel_i.join(separator));
					}
					/*
					*/
				}
			}
		}
	}
	syn_list = $.unique(syn_list);
	ant_list = $.unique(ant_list);
	sim_list = $.unique(sim_list);
	rel_list = $.unique(rel_list);
	for (var i = 0; i < syn_list.length; i++) {
		syn_list[i] = "("+(i+1)+") "+syn_list[i];
	}
	for (var i = 0; i < ant_list.length; i++) {
		ant_list[i] = "("+(i+1)+") "+ant_list[i];
	}
	for (var i = 0; i < sim_list.length; i++) {
		sim_list[i] = "("+(i+1)+") "+sim_list[i];
	}
	for (var i = 0; i < rel_list.length; i++) {
		rel_list[i] = "("+(i+1)+") "+rel_list[i];
	}
	
	// Convert to string with new delimiters
	var divider = "<blockquote class='divider'><em>—or—</em></blockquote>";
	var synonyms = syn_list.join(divider);
	var antonyms = ant_list.join(divider);
	var similar_terms = sim_list.join(divider);
	var related_terms = rel_list.join(divider);
	console.log("synonyms: "+syn_list);
	console.log("antonyms: "+ant_list);
	console.log("similar words: "+sim_list);
	console.log("related words: "+rel_list);

	// pass to HTML if not empty
	if (empty) {
		synonyms = "(synonyms)";
		similar_terms = "(similar words)";
		related_terms = "(related words)";
		antonyms = "(antonyms)";
	} else {
		if (synonyms.length == 0) {
			synonyms = "(0 synonyms found)";
		}
		if (similar_terms.length == 0) {
			similar_terms = "(0 similar words found)";
		}
		if (related_terms.length == 0) {
			related_terms = "(0 related words found)";
		}
		if (antonyms.length == 0) {
			antonyms = "(0 antonyms found)";
		}
	}

	$("#synonym").html(synonyms);
	$("#antonym").html(antonyms);
	$("#similar").html(similar_terms);
	$("#related").html(related_terms);
}
</script>
<div class="citation">
	Data sourced from: <a href="https://thesaurus.altervista.org">AlterVista</a>; <a href="https://dictionaryapi.com">Merriam-Webster</a>.
	<br><br>
	<b><a href="index.html">Take me home</a></b>
</div>
</body>
